<footer class="footer">
    <div class="row">
        <div class="col-sm-6">
            <small>
                <a href="https://github.com/HannahCarney">Hannah Carney</a>
            </small>
        </div>
        <div class="col-sm-6">
            <nav>
                <ul>
                    <li><%= link_to "About",   '/about' %></li>
                    <li><%= link_to "Contact", '/contact' %></li>
                    <li><a href="https://www.youtube.com/watch?v=g7LQS84IL4U">News</a></li>
                </ul>
            </nav>  
        </div>
    </div>
</footer>