<html>
<footer class="footer">
    <div class="row">
        <div class="col-xm-6">
            <nav>
                <ul>
                    <div class="github"><%= link_to 'Hannah Carney',"https://github.com/HannahCarney" %></div>
                    <li><%= link_to "About",   '/about' %></li>
                    <li><%= link_to "Contact", '/contact' %></li>
                    <li><a href="https://www.youtube.com/watch?v=g7LQS84IL4U">News</a></li>
                </ul>
            </nav>  
        </div>
    </div>
</footer>
</html>